---
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jerry Hu | Student, Developer, Writer</title>
  </head>
  <body class="bg-light-beige font-sans text-main-black">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
</style>
